@import '../../_var.scss';

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h2 {
        margin: 1.25rem 0;
        font-size: $tamanho-titulo;
    }
}